* { margin:0; padding:0;}
body { background:#a6cae1 url(/web/cms/contentblob/200/data/454/bg-108.gif) repeat-x scroll 0 0; color:#58585a; font-size:100.01%; font-size:0.75em; line-height:1.25em; font-family:Tahoma, Arial, sans-serif; padding-bottom:168px; }
body#contentview{ background:white; padding:16px;}
#clp_1062680 .wide4Table #content {width:775px;}
body#clp_1222006 .wide4Table #content {width:758px;}
#clp_1062680 #col2 {width:775px;}
body#clp_961656 #header .keyvisual {margin:0;}
body#clp_961656 #header object {margin-top:36px;}
#top .noHorNav .copyright {background:none repeat scroll 0 0 #A6CAE1;padding-top:10px;}
#top .noHorNav .copyright .contentItem {margin-bottom:0;}
#top .copyright p {background:none repeat scroll 0 0 #A6CAE1;padding-bottom:10px;}
